body {
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.booking-list-panel {
  top: 64px !important;
}

.booking-list-header div {
  font-size: 25px !important; 
}

.booking-list-header  hr {
  height: 2px !important;
}

.booking-list-item {
  padding: 5px 16px 5px !important;
}

.booking-list-empty {
  padding: 5px 16px 5px !important;
}

.booking-list-empty div {
  color: rgba(0, 0, 0, 0.54);
}

.booking-calendar {
  position: absolute;
  top: 78px;
  right: 269px;
  bottom: 12px;
  left: 269px;  
}

.booking-calendar .rbc-toolbar-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 25px !important;  
}
  
.booking-calendar .rbc-month-view, .booking-calendar .rbc-time-view {
  background-color: #ffffff;
}